<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content">
    <include path="~/Content/style.css" />
    <include path="~/Content/theme.css" />
    <include path="~/Content/ui.css" />
    <include path="~/Content/Plugins/datatable/css/jquery_dataTables.min.css" />
    <include path="~/Content/Plugins/jQuery_ui/jQuery_ui.min.css" />
    <include path="~/Content/Plugins/sweet_alert/sweetalert.css" />
  </styleBundle>
  <styleBundle path="~/Content/Login">
    <include path="~/Content/style.css" />
    <include path="~/Content/ui.css" />
    <include path="~/Content/Plugins/bootstrap-loading/lada.min.css" />
    <include path="~/Content/Plugins/sweet_alert/sweetalert.css" />
  </styleBundle>
</bundles>